body{
    background-color:azure;
}
h1,h2{
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1.5cm;
}
h2{
    font-size: 2em;
    margin-top: 1.5cm;
}
a:visited{
    color: blue;
}
img{
    display: block;
    margin: 1.5cm auto 1cm auto;
    
    width: 75%;
}
p{
    font-size: 1.5em;
}
li{
    font-size: 1.2em;
}
.alahuz{
    text-decoration: underline;
}
#vege{
    text-align: center;
    text-transform: uppercase;
}
